<% if (typeof user !== 'undefined' && user) { %>
      </div><!-- .app-content -->
    </div><!-- .app-shell -->
<% } %>
<script src="https://unpkg.com/lucide@latest"></script>
<script>
  if (typeof lucide !== 'undefined') {
    lucide.createIcons();
  }
</script>
</body>
</html>
